<div class="container sections-wrapper">

  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <h2>Vertical Social Network</h2>

      <p>Welcome to the vertical social network. Sign up to get started!</p>
    </div>
  </div>
</div>
