<div class="container sections-wrapper">

  <div class="row">
    <div class="primary col-md-12 col-sm-12 col-xs-12">

      <section class="landing section">
        <div class="section-inner text-center">
          <h1 class="title">Welcome.</h1>
          <img src="images/jobzilla_landing.png">
          <p><em>To the Jobzilla Vertical Social Network</em></p>

          <button class="btn btn-lg btn-search" type="submit" {{ action 'sessionRequiresAuthentication' }}>Get Started</button>
        </div>
      </section>
    </div>
  </div>
</div>
