<div class="container sections-wrapper">

  <div class="row">
    <div class="primary col-md-12 col-sm-12 col-xs-12">

      <section class="latest section">
        <div class="section-inner text-center">
          <h2>Vertical Social Network</h2>

          <p>Welcome to the vertical social network. Sign up to get started!</p>
        </div>
      </section>
    </div>
  </div>
</div>
