<div class="container sections-wrapper">

  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
      <div class="input-group input-group-lg job-search-bar orange-input">
        <input type="text" name="q" id="q" class="form-control search-input" placeholder="Search company, job title or location">
        <span class="input-group-btn">
          <button class="btn btn-md btn-search" type="submit">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </span>
      </div>

      <section class="latest section">
        <div class="section-inner">
          <h3>Your job: {{currentJob.title}} at {{currentJob.company.name}}</h3>
          <h2 class="heading">Recent Jobs</h2>
          <div class="content">
            <hr>

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Technical Project Manager</a>
                </h3>
                <p>
                  <em>Wallero Technologies</em>
                </p>
                <p>You will manage programs/projects involving cross-functional teams focused on the delivery of technical products or systems.</p>
                <div class="job-spec-icons">
                  <span class="job-spec-icon"><i class="fa fa-clock-o"></i> 1 day ago</span>
                  <span class="job-spec-icon"><i class="fa fa-map-marker"></i> Seattle, Wa</span>
                  <span class="job-spec-icon"><i class="fa fa-users"></i> 1 - 50 employees</span>
                </div>
              </div>
              <!--//desc-->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <a class="btn btn-cta-secondary pull-right" href="#">Apply Now <i class="fa fa-pencil-square-o"></i></a>
              </div>
            </div>
            <!--//item-->
            <hr>

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Geotechnical Engineer</a>
                </h3>
                <p>
                  <em>Niantic</em>
                </p>
                <p>You will manage programs/projects involving cross-functional teams focused on the delivery of technical products or systems.</p>
                <div class="job-spec-icons">
                  <span class="job-spec-icon"><i class="fa fa-clock-o"></i> 1 day ago</span>
                  <span class="job-spec-icon"><i class="fa fa-map-marker"></i> Seattle, Wa</span>
                  <span class="job-spec-icon"><i class="fa fa-users"></i> 1 - 50 employees</span>
                </div>
              </div>
              <!--//desc-->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <a class="btn btn-cta-secondary pull-right" href="#">Apply Now <i class="fa fa-pencil-square-o"></i></a>
              </div>
            </div>
            <!--//item-->
            <hr>

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Senior Biologist</a>
                </h3>
                <p>
                  <em>Cyrus Biotechnology</em>
                </p>
                <p>You will manage programs/projects involving cross-functional teams focused on the delivery of technical products or systems.</p>
                <div class="job-spec-icons">
                  <span class="job-spec-icon"><i class="fa fa-clock-o"></i> 1 day ago</span>
                  <span class="job-spec-icon"><i class="fa fa-map-marker"></i> Seattle, Wa</span>
                  <span class="job-spec-icon"><i class="fa fa-users"></i> 1 - 50 employees</span>
                </div>
              </div>
              <!--//desc-->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <a class="btn btn-cta-secondary pull-right" href="#">Apply Now <i class="fa fa-pencil-square-o"></i></a>
              </div>
            </div>
            <!--//item-->
            <hr>

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Administrative Assistant</a>
                </h3>
                <p>
                  <em>Gratafy</em>
                </p>
                <p>You will manage programs/projects involving cross-functional teams focused on the delivery of technical products or systems.</p>
                <div class="job-spec-icons">
                  <span class="job-spec-icon"><i class="fa fa-clock-o"></i> 1 day ago</span>
                  <span class="job-spec-icon"><i class="fa fa-map-marker"></i> Seattle, Wa</span>
                  <span class="job-spec-icon"><i class="fa fa-users"></i> 1 - 50 employees</span>
                </div>
              </div>
              <!--//desc-->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <a class="btn btn-cta-secondary pull-right" href="#">Apply Now <i class="fa fa-pencil-square-o"></i></a>
              </div>
            </div>
            <!--//item-->
            <hr>

            <div class="item row">
              <div class="desc col-md-8 col-sm-8 col-xs-12">
                <h3 class="title">
                  <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Information Technology Specialist</a>
                </h3>
                <p>
                  <em>IQ Innovations</em>
                </p>
                <p>You will manage programs/projects involving cross-functional teams focused on the delivery of technical products or systems.</p>
                <div class="job-spec-icons">
                  <span class="job-spec-icon"><i class="fa fa-clock-o"></i> 1 day ago</span>
                  <span class="job-spec-icon"><i class="fa fa-map-marker"></i> Seattle, Wa</span>
                  <span class="job-spec-icon"><i class="fa fa-users"></i> 1 - 50 employees</span>
                </div>
              </div>
              <!--//desc-->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <a class="btn btn-cta-secondary pull-right" href="#">Apply Now <i class="fa fa-pencil-square-o"></i></a>
              </div>
            </div>
            <!--//item-->
            <hr>

          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </section>
      <!--//section-->

    </div>
    <!--//primary-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">

      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Featured Companies</h2>
          <div class="content company-content text-center">
            <img src="http://opstatic.com/img/usermedia/zWPDDXv-bE2LpSa49FL4gQ/w130-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/efS5xyQLZk-6nGs4iy4mkA/w130-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/z_GoOfV8zU6pY7DLYcPpxg/w100-h100.png" class="featured-company">
          </div>
          <!--//content-->
          <div class="content company-content text-center">
            <img src="http://opstatic.com/img/usermedia/TJSwqgqLe0awmxOySKDpJg/w100-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/QzZM1eG60Uu0W83P5Adbjw/w100-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/F32o5SMqAUWfi6GwLy7e-w/w100-h100.png" class="featured-company">
          </div>
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

      <aside class="post-job aside section">
        <div class="section-inner">
          <h2 class="heading">Post A Job</h2>
          <div class="content">
            <div class="text-center">
              {{#link-to 'post-content'}}
                <button class="btn btn-lg btn-cta-primary btn-post-job">Post Job <i class="fa fa-pencil-square-o"></i></button>
              {{/link-to}}
            </div>
            <br>
            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More About Jobzilla</a></p>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

      <aside class="blog aside section">
        <div class="section-inner">
          <h2 class="heading">Latest Blog Posts</h2>
          <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>
          <div id="rss-feeds" class="content">

          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

    </div>
    <!--//secondary-->
  </div>
  <!--//row-->
</div>
<!--//masonry-->
