<div class='container secions-wrapper'>
  <div class='row'>
    <div class='col-md-8 col-sm-12'>
      <section class='about section'>
        <div class='section-inner'>
          <h2 class='heading'>About Me</h2>
          <i class='fa fa-user-plus'></i>
          <div>
            <p>
              I am a young professional seeking new opportunities
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-8 col-sm-12'>
      <section class='about section'>
        <div class='section-inner'>
          <h2 class='heading'>About Me</h2>
          <div>
            <p>
              I am a young professional seeking new opportunities
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
