<div class='container secions-wrapper'>
  <div class='row'>
    <div class='primary col-md-8 col-sm-12'>
      <section class='card section'>
        <div class='section-inner'>
          <div class='profile-card'>
            <div class='profile-card-left'>
              <img class="profile-image img-responsive pull-left" src="http://themes.3rdwavemedia.com/demo/developer/assets/images/profile.png" alt="James Lee">
              <button class="btn btn-sm btn-cta-primary btn-post-job pull-right" href="#">Connect <i class="fa fa-user-plus"></i></button>
            </div>
            <div class="profile-content pull-left">
              <h1 class="name">James Lee</h1>
              <h2 class="desc">Web App Developer</h2>
              <ul class="social list-inline">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                  <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class='about section'>
        <div class='section-inner'>
          <h2 class='heading'>Summary</h2>
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>
      </section>

      <section class='experience section'>
        <div class='section-inner'>
          <h2 class='heading'>Experience</h2>
          <div class='experience-item'>
            <h4 class="title">
              <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Web Developer</a>
            </h4>
            <p><em>Makapen Co</em></p>
            <p class="experience-dates"><i class="fa fa-calendar"></i> March 2015 - Present</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
          </div>
          <hr>
          <div class='experience-item'>
            <h4 class="title">
              <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Web Developer</a>
            </h4>
            <p><em>Makapen Co</em></p>
            <p class="experience-dates"><i class="fa fa-calendar"></i> March 2015 - Present</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
          </div>
          <hr>
          <div class='experience-item'>
            <h4 class="title">
              <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Web Developer</a>
            </h4>
            <p><em>Makapen Co</em></p>
            <p class="experience-dates"><i class="fa fa-calendar"></i> March 2015 - Present</p>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
          </div>
        </div>
      </section>

      <section class='projects section'>
        <div class='section-inner'>
          <h2 class='heading'>Projects</h2>
          <div>
            <p>
              I am a young professional seeking new opportunities
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class='secondary col-md-4 col-sm-12'>
      <aside class='info aside section'>
        <div class='section-inner'>
          <ul class='list-unstyled'>
            <li>
              <i class='fa fa-map-marker'></i>
              Seattle WA
            </li>

            <li>
              <i class='fa fa-envelope-o'></i>
              <a href='#'>username@username.com</a>
            </li>

            <li>
              <i class='fa fa-link'></i>
              <a href='#'>website.com</a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class='skills aside section'>
        <div class='section-inner'>
          <h2 class='heading'>Skills</h2>
          <div class='skillset'>
            <div class="item">
              <h3 class="level-title">Javascript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="96%" style="width: 96%;">
                </div>
              </div>
            </div>
            <div class="item">
              <h3 class="level-title">HTML<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="84%" style="width: 84%;">
                </div>
              </div>
            </div>
            <div class="item">
              <h3 class="level-title">AWS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Intermediate</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="75%" style="width: 75%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>

      <aside class='interests aside section'>
        <div class='section-inner'>
          <h2 class='heading'>Interests</h2>
          <ul>
            <li>Thing</li>
            <li>Thing</li>
            <li>Thing</li>

            <li>Thing</li>
            <li>Thing</li>
            <li>Thing</li>
            <li>Thing</li>
          </ul>
        </div>
      </aside>
      <aside class='connections aside section'>
        <div class='section-inner'>
          <h2 class='heading'>Connections</h2>

          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>

        </div>
      </aside>
    </div>
  </div>
</div>
